*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #434455;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

section {
    padding-top: 96px;
    padding-right: 0;
    padding-bottom: 96px;
    padding-left: 0;
}

@media screen and (min-width:768px) {
    section {
        padding-top: 96px;
        padding-right: 0;
        padding-bottom: 96px;
        padding-left: 0;
    }
}

@media screen and (min-width:1158px) {
    section {
        padding-top: 120px;
        padding-right: 0;
        padding-bottom: 120px;
        padding-left: 0;
    }
}

img {
    display: block;
    max-width: 100%;
}



.container {
    margin: 0 auto;
    padding: 0 16px;
    min-width: 320px;
}


@media screen and (min-width:768px) {
    .container {
        margin: 0 auto;
        padding: 0 16px;
        width: 768px;
    }
}

@media screen and (min-width:1158px) {
    .container {
        margin: 0 auto;
        padding: 0 15px;
        width: 1158px;
    }
}


/* #region header */

@media screen and (min-width:768px) {
    .header-section {
        border-bottom: 1px solid #e7e9fc;
        height: 72px;
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
        position: relative;
        color: #404bbf;
    }
}

@media screen and (min-width:1158px) {
    .header-section {
        border-bottom: 1px solid #e7e9fc;
        height: 72px;
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
        position: relative;
        color: #404bbf;
    }
}

.logo-header {
    color: #2e2f42;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-right: 76px;
}

@media screen and (min-width:767px) {
    .logo {
        margin-right: 120px;
    }
}

.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

@media screen and (min-width:767px) {
    .nav-container {
        display: flex;
        justify-content: space-between;
        width: 767px;
        margin: 0 auto;
        padding: 0 16px;
    }
}

@media screen and (min-width:1158px) {
    .nav-container {
        display: flex;
        justify-content: space-between;
        width: 1158px;
        margin: 0 auto;
        padding: 0 15px;
    }
}

.nav-header {
    display: flex;
    align-items: center;
    justify-content: center;
}



.logo-web {}


.header-nav-list {
    display: none;
}

@media screen and (min-width:767px) {
    .header-nav-list {
        display: flex;
        font-style: normal;
        padding: 24px 0;
        gap: 40px;

    }
}

@media screen and (min-width:1158px) {
    .header-nav-list {
        display: flex;
        gap: 40px;

    }
}

.nav-header-item {}

.item-nav-link {
    position: relative;

    font-weight: 500;
    font-size: 16px;


    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.header-nav-list {
    padding: 24px 0;
}

.item-nav-link:hover,
.item-nav-link:focus {
    color: #404bbf;
}


.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;

}



.header-addr {
    display: none;
}

@media screen and (min-width:767px) {
    .header-addr {
        display: block;
        font-style: normal;
        padding: 16px 0;
    }
}

@media screen and (min-width:1158px) {
    .header-addr {
        display: block;
        font-style: normal;
        padding: 24px 0;
    }
}


@media screen and (min-width:767px) {
    .header-addr-list {
        display: flex;
        flex-direction: column;
        gap: 12px;

    }
}

@media screen and (min-width:1158px) {
    .header-addr-list {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }
}


@media screen and (min-width:767px) {
    .header-addr-item {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }
}

@media screen and (min-width:1158px) {
    .header-addr-item {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.header-addr-item:hover,
.header-addr-item:focus {
    color: #404bbf;
}

.menu-link {
    display: flex;
    align-items: center;
    cursor: pointer;
}

@media screen and (min-width:767px) {
    .menu-link {
        display: none;
    }
}

@media screen and (min-width:1158px) {
    .menu-link {
        display: none;


    }
}

/* #endregion header  */

/* #region Hero */

.hero-section {
    padding: 72px 0;
    margin: 0 auto;
    max-width: 320px;
    background-color: #2e2f42;
    display: flex;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/1x/mobile-hero@1x.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;



}

@media screen and (min-width:768px) {
    .hero-section {
        padding: 112px 0;
        margin: 0 auto;
        max-width: 768px;
        max-height: 436px;
        background-color: #2e2f42;
        display: flex;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/1x/tablet-hero@1x.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

    }
}

@media screen and (min-width:1158px) {
    .hero-section {
        margin: 0 auto;
        max-width: 1440px;
        max-height: 600px;
        background-color: #2e2f42;
        padding: 188px 0;
        display: flex;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/1x/desktop-hero@1x.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

    }
}


.hero-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 216px;
    margin: 0 auto;
    margin-bottom: 72px;

}

@media screen and (min-width:768px) {
    .hero-title {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        max-width: 496px;
        margin: 0 auto;
        margin-bottom: 36px;

    }
}

@media screen and (min-width:1158px) {
    .hero-title {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        max-width: 496px;
        margin: 0 auto;
        margin-bottom: 48px;

    }
}

.hero-btn {
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    padding: 16px 32px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404bbf
}




/* #endregion Hero  */

/* #region Content */

.content-section {}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    outline: 0;
    outline-offset: 0;
}

.content-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

@media screen and (min-width:768px) {
    .content-list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        column-gap: 24px;
        row-gap: 72px;
    }
}

@media screen and (min-width:1158px) {
    .content-list {
        align-items: center;
        justify-content: center;
        display: flex;
        flex-wrap: nowrap;
        gap: 24px;

    }
}


.content-icon-container {
    display: none;
}

@media screen and (min-width:768px) {
    .content-icon-container {
        display: none;
    }
}

@media screen and (min-width:1158px) {
    .content-icon-container {
        display: block;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        background-color: #f4f4fd;
        align-items: center;
        justify-content: center;
        display: flex;
        margin-bottom: 8px;
    }
}

.content-list-item {
    width: calc((100%-72px)/4);

}

@media screen and (min-width:768px) {
    .content-list-item {
        padding: 0;
        margin: 0 auto;
        width: 356px;
    }
}

@media screen and (min-width:1158px) {
    .content-list-item {
        width: calc((100%-72px)/4);
    }
}




.content-item-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.content-item-text {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;


}

@media screen and (min-width:768px) {
    .content-item-title {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11111;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-align: left;
    }

    .content-item-text {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        padding: 0;
    }
}

@media screen and (min-width:1158px) {
    .content-item-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
    }

    .content-item-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
    }
}

/* #endregion Content */
/* #region Team */
.team-section {
    background-color: #f4f4fd;
}

.team-title {
    font-weight: 700;
    font-size: 36px;

    text-transform: capitalize;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 72px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width:768px) {
    .team-list {
        display: flex;
        row-gap: 64px;
        column-gap: 24px;
    }
}

@media screen and (min-width:1158px) {
    .team-list {
        display: flex;
        gap: 24px;
    }
}

.team-list-item {
    background-color: #FFFFFF;
    width: calc((100%-72px)/4);
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-item-title {
    font-weight: 500;
    font-size: 20px;

    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}

.team-info {
    padding: 32px 0;
}

.team-icon-list {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;

}

.team-icon-item {
    width: 40px;
    height: 40px;
}

.team-icon-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-link:hover,
.team-icon-link:focus {
    background-color: #404BBF;
    ;
}

.team-icon {
    fill: #f4f4fd;
}

/* #endregion Team */
/* #region Portfolio */
.portfolio-section {}

.title-portfolio {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 48px;
}

@media screen and (min-width:768px) {
    .portfolio-list {
        display: flex;
        flex-wrap: wrap;
        gap: 72px 24px;
    }
}

@media screen and (min-width:1158px) {
    .portfolio-list {
        display: flex;
        flex-wrap: wrap;
        gap: 48px 24px;
    }
}

.portfolio-list-item {
    width: calc((100%-px)/3);
    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width:768px) {
    .portfolio-list-item {
        width: calc((100% - 24px)/2);
        cursor: pointer;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

@media screen and (min-width:1158px) {
    .portfolio-list-item {
        width: calc((100% - 48px)/3);
        cursor: pointer;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.portfolion-info {
    border: 1px solid #e7e9fc;
    border-top: none;
    padding: 32px 16px;
}

.portfolio-list-item:hover .image-container-paragraph {
    transform: translateY(0%);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-image-container {
    position: relative;
    overflow: hidden;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.image-container-paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    transform: translateY(100%);
    transition-property: background-color, transform;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.portfolio-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* #endregion Portfolio */
/* #region Footer */
.footer-section {
    background-color: #2e2f42;
    padding: 100px 0;


}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    align-items: center;
    justify-content: center;

}

@media screen and (min-width:768px) {
    .footer-container {
        width: 584px;
        display: flex;
        justify-content: unset;
        align-items: unset;
        gap: 72px 24px;
        margin: 0 auto;

    }
}

@media screen and (min-width:1158px) {
    .footer-container {
        display: flex;
        align-items: baseline;
        justify-content: center;
        flex-wrap: nowrap;
        gap: 0;
    }
}

.footer-container-left {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

@media screen and (min-width:768px) {
    .footer-container-left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;


    }
}

@media screen and (min-width:1158px) {
    .footer-container-left {
        display: flex;
        justify-content: center;
        margin: 0;
        margin-right: 120px;

    }
}

.footer-studio-span {
    color: #f4f4fd;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;

}

@media screen and (min-width:768px) {
    .footer-logo {
        display: inline-block;
        margin-bottom: 16px;
    }
}

@media screen and (min-width:1158px) {
    .footer-logo {
        display: inline-block;
        margin-bottom: 16px;
    }
}



.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 264px;
}



.footer-title-media {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
}

@media screen and (min-width:768px) {
    .footer-title-media {
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
        justify-content: flex-start;
    }

    .footer-container-right {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-bottom: 24px;
    }
}

@media screen and (min-width:1158px) {
    .footer-title-media {
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
        justify-content: left;
    }

    .footer-container-right {
        margin-right: 80px;
    }
}

.footer-icon-list {
    display: flex;
    gap: 16px;
}

.footer-item-icon {
    width: 40px;
    height: 40px;
}

.footer-icon-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-link:hover,
.footer-icon-link:focus {
    background-color: #31d0aa;
}

.footer-icon {
    fill: #f4f4fd;
}




.container-sub {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;



}

@media screen and (min-width:768px) {
    .container-sub {
        display: flex;
        flex-direction: column;
        align-items: normal;
        /* justify-content: center; */
    }


}

@media screen and (min-width:1158px) {
    .container-sub {
        display: block;
    }
}

.sub-form {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    align-items: center;
    justify-content: center;


}

.sub-title {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;

}

@media screen and (min-width:768px) {
    .sub-form {
        display: flex;
        flex-wrap: nowrap;
        gap: 24px;
        align-items: center;
        justify-content: center;


    }




}

@media screen and (min-width:1158px) {
    .sub-form {
        display: flex;
        flex-wrap: nowrap;
        gap: 16px;
        align-items: center;
        justify-content: center;

    }
}





.sub-label {}

.sub-input {
    width: 288px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;

}

@media screen and (min-width:768px) {
    .sub-input {
        width: 264px;


    }


}

@media screen and (min-width:1158px) {
    .sub-input {
        width: 264px;


    }
}

.sub-input::placeholder {
    color: #fff;
}



.btn-sub {
    display: flex;
    min-width: 165px;
    height: 40px;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-sub:hover,
.btn-sub:focus {
    background-color: #404bbf;
}

.sub-icon {
    fill: #FFFFFF;
    margin-left: 16px;
}

/* #endregion Footer */
/* #region Backdrop */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    visibility: hidden;
    opacity: 0;
    pointer-events: mone;
}


.backdrop.is-open {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 288px;
    min-height: 623px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
}

@media screen and (min-width:768px) {
    .modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 408px;
        min-height: 584px;
        background: #fcfcfc;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding: 72px 24px 24px 24px;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    }


}

@media screen and (min-width:1158px) {
    .modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 408px;
        min-height: 584px;
        background: #fcfcfc;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding: 72px 24px 24px 24px;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    }
}

.close-btn {
    border-radius: 100%;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid #E7E9FC;
    background-color: transparent;
    padding: 0;
}

.close-btn:focus,
.close-btn:hover {
    fill: #e7e9fc;
    background-color: #404BBF;
    border: none
}

.close-btn-icon {}

.modal-text {
    width: 256px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin: 0 auto;
    margin-bottom: 16px;
}

@media screen and (min-width:768px) {
    .modal-text {
        width: 360px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin: 0 auto;
        margin-bottom: 16px;
    }


}

@media screen and (min-width:1158px) {
    .modal-text {
        width: 360px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin: 0 auto;
        margin-bottom: 16px;
    }
}

.modal-form {}

.modal-container-block {
    margin-bottom: 8px;
}

.modal-form-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.modal-form-input-cont {
    position: relative;
}

.modal-form-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: transparent;
    outline: transparent;
}

.modal-form-input:focus,
.modal-form-input:hover {
    border: 1px solid #4d5ae5;
}

.modal-form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    fill: #2e2f42;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus+.modal-form-icon {
    fill: #4D5AE5;
}


.textarea-comment {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;
    border-radius: 4px;
    padding: 8px 16px;
    resize: none;
    width: 100%;
    height: 120px;
    outline: transparent;
}

.form-input:hover,
.textarea-comment:hover,
.form-input:active,
.textarea-comment:active,
.form-input:focus,
.textarea-comment:focus {
    border-color: #4D5AE5;
}



.checkbox-span {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-right: 8px;

    display: inline-flex;

    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-input:checked+.checkbox-text .checkbox-span {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.checkbox-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.policy-link {
    text-decoration: underline;
    color: #4d5ae5;
}

.input-wrapper {
    margin-bottom: 8px;
}

.comment-wrapper {
    margin-bottom: 16px;
}

.checkbox-wrapper {
    margin-bottom: 24px;
}

.form-button {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin: 0 auto;
    width: 169px;
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover,
.form-button:focus {
    fill: #ffffff
}

/* #endregion Backdrop */
.mobile-menu {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateX(100%);
    transition: transform cubic-bezier(0.075, 0.82, 0.165, 1);
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 72px 24px 40px 16px;
}

.container {
    height: 100%;
}

@media screen and (min-width:768px) {
    .mobile-menu {
        display: none;
    }


}

@media screen and (min-width:1158px) {
    .mobile-menut {
        display: none;
    }
}


.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateX(0%);
}


.close-btn {
    position: absolute;
    top: 24px;
    right: 2
}

.close-btn-icon {}

.mob-nav {
    flex-grow: 1;
}

.mob-nav-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 40px;

}

.mob-nav-item {}

.item-mob-link {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.menu-addr {}

.menu-addr-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 24px;
    font-style: normal;
    margin-top: auto;
    margin-bottom: 48px;

}

.menu-addr-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-addr-item:hover,
.menu-addr-item:focus {
    color: #404bbf;
}

.menu-icon-list {
    display: flex;
    gap: 40px;
    align-items: center;

}

.menu-icon-item {
    width: 40px;
    height: 40px;
}

.menu-icon-link {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-icon-link:hover,
.menu-icon-link:focus {
    background-color: #404BBF;
    ;
}

.menu-icon {
    fill: #f4f4fd;
}

.current {
    color: #404bbf;

}